<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <h5>Apply Now</h5>
        <hr class="light">
        <p>Apply for a Loan</p>
        <p>Open an Account</p>
        <p>Apply for a Credit Card</p>
      </div>
      <div class="col-md-4">
        <h5>Website Links</h5>
        <hr class="light">
        <p>Switch to Us</p>
        <p>Routing Number</p>
        <p>Property for Sale</p>
      </div>
      <div class="col-md-4">
        <h5>Connect with Us</h5>
        <hr class="light">
        <p>Careers</p>
        <p>Our Affiliates</p>
      </div>
    </div>
    <div class="social">
      <a href=""><img class="img1" /></a>
      <a href=""><img class="img2" /></a>
      <a href=""><img class="img3" /></a>
    </div>
    <div class="center-copyright">
      <small class="space-from-bottom">&copy; Copyright 2020, James Meyer</small>
    </div>
  </div>
</footer>